/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin);*/

/*sans headings*/
/*@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');*/

@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Manrope');

/*serif headings*/
/*@import url('https://fonts.googleapis.com/css?family=PT+Serif'); /*good*/
/*@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');*/
/*@import url('https://fonts.googleapis.com/css?family=Noto+Serif');*/
/*@import url('https://fonts.googleapis.com/css?family=Glegoo');*/

/*playful fonts*/
/*@import url('https://fonts.googleapis.com/css?family=Poppins');*/
/*@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');*/
/*@import url('https://fonts.googleapis.com/css?family=Space+Mono');*/
/*@import url('https://fonts.googleapis.com/css?family=Belleza'); /*good for all*/
/*@import url('https://fonts.googleapis.com/css?family=Marcellus');*/
/*@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');*/

/*@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie'); /*bc*/
/*@import url('https://fonts.googleapis.com/css?family=Michroma'); /*resci*/
@import url('https://fonts.googleapis.com/css?family=Michroma');

/*@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');
@import url('https://fonts.googleapis.com/css?family=Fahkwang'); /*good for all*/
/*@import url('https://fonts.googleapis.com/css?family=Trirong');*/
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');
@import url('https://fonts.googleapis.com/css?family=Fahkwang');
@import url('https://fonts.googleapis.com/css?family=Trirong');

@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');/*
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css?family=Fondamento');*/


/* Table of Content
==================================================
		/* general styling 
		/*  columns and margins
		/* menu
			/* mobile menu
		/* home
		/* services
		/* latest work
		/* about
		/* testimonials
		/* portfolio
		/* blog
		/* contact
		/* map
		/* footer
		/* single post
		/* @media
================================================== */
/* custom styling */

/*INTRO SECTIONS*/

html {
	scroll-behavior: smooth;
}
.null {

}

#design-anchor:hover {
	color: #003DDB;
	font-weight: 700;
}
#curology-anchor:hover {
	color: #5445A9;
	font-weight: 700;
}
#timbuk2-anchor:hover {
	color: #23D7FF;
	font-weight: 700;
}
#akpsi-anchor:hover {
	color: #E1A200;
	font-weight: 700;
}
#resci-anchor:hover {
	color: #FF6B00;
	font-weight: 700;
}
#airbnb-anchor:hover {
	color: #ff5a5f;
	font-weight: 700;
}
#others-anchor:hover {
	color: #383838;
	font-weight: 700;
}

.mail-icon a:hover {
	color: #377EE8;
}
.twitter-icon a:hover {
	color: #38A1F3;
}
.linkedin-icon a:hover {
	color: #0e76a8;
}
.dribbble-icon a:hover {
	color: #ea4c89;
}

.side-text {
	position: fixed;
	bottom: 20%;
	right: 10%;
	transform: rotate(270deg);
}
.side-text h2 {
	text-transform: uppercase;
	font-size: 1.1rem;

}
.squiggly-divider {
	padding: 30px;
	margin: 40px;
	animation: bounce 3s ease infinite;
}
.squiggly-divider img {
	max-width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a:hover {
	transition: 0.3s;
}
#opening-row {
	padding: 0 0 0px 0;
	width:100%;
	/*background: transparent url(../images/geometric.png) scroll 0 0 no-repeat;*/
	/*background-image: linear-gradient(45deg, orange, red);
	background-image: linear-gradient(30deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);*/
	/*animation: colorchange 10s infinite;*/
	color: rgba(0,0,0,1);
	font-family: 'Avenir', Baskerville, sans-serif;
	text-align: left;
}
@keyframes colorchange {
	0% {
		background-color: #3f51b1; 
	}
	10% {
		background-color: #5a55ae;
	}
	20% {
		background-color: #7b5fac;
	}
	30% {
		background-color: #8f6aae;
	}
	40% {
		background-color: #a86aa4;
	}
	50% {
		background-color: #cc6b8e;
	}
	60% {
		background-color: #a86aa4;
	}
	70% {
		background-color: #8f6aae;
	}
	80% {
		background-color: #7b5fac;
	}
	90% {
		background-color: #5a55ae;
	}
	100% {
		background-color: #3f51b1;
	}
}
#opening-row img {
	max-height: 77px;
	transform: rotate(-9deg);
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#opening-row>.col-md-2 {
	text-align: center;
}
#opening-row a, #second-row a {
	color: rgba(0,0,0,0.9);
}
#second-row {
	background-color: #F1C40F;
	padding: 80px 0;
	color: rgba(255,255,255,0.75);
	font-family: 'Avenir', Baskerville, sans-serif;
}
#second-row img {
	max-height: 68px;
	transform: rotate(4deg);
}
#second-row>.col-md-2 {
	text-align: center;
}


/*PORTFOLIO SECTION*/
.portfolio_h1 { /*the main title of section*/
	padding: 60px 0;
}
.case_studies a {
	/*display: block;*/
	margin-bottom: 2rem;
}
.case_studies img{
	vertical-align: super;
}
.case_studies p {
	/*font-size: 1.4rem;*/
}
.project_header {
	font-size: 1.1rem;
	color: #202020;
	letter-spacing: 0.2rem;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Avenir', Helvetica, sans-serif;
	text-align: left;
	transform: translateX(0.13rem);
	/*margin-top: 50px;*/
}
.project_row hr {
	width: 1vw;
	border-top: 1px solid gray;
	margin-bottom: 32px;
	transform: rotate(-43deg);
}
.portfolio .case_title h1 { /*the big titled overlaid on image*/
	position: relative;
}
/*.portfolio #case_1 .case_title h1 {
	font-family: 'Poppins';
}
.portfolio #case_2 .case_title h1 {
	font-family: 'Space Mono';
}
.portfolio #case_3 .case_title h1 {
	font-family: 'Belleza';
}*/
@media (min-width: 768px) {
	.portfolio .case_title h1 {
		font-size: 5rem;
		line-height: 5.8rem;
		margin-bottom: -8px;
		margin-top: 9px;
		/*font-family: 'Poppins';*/
		text-align: left;
	}
	.portfolio .case_title_2 h1 {
		font-size: 2rem;
		margin-top: 0;
	}
	.portfolio .case_title_3 h1 {
		font-size: 1.4rem;
		margin-top: 0;
	}
}
.case_studies img {
	border-radius: 10px;
	z-index: -999;
	position: auto;
}
.video-mask {
	border-radius: 10px;
	overflow: hidden;
	height: 285px;
}
.case_studies hr {
	margin: 10vh 0 4vh 0;
	display: block;
}
.portfolio .case_description {
	
}
#case_0 {
	margin-top: 4rem;
}


.portfolio #case_0 a {
	color: rgba(230,126,34,1);
}
.portfolio #case_0 a:hover {
	color: rgba(230,126,34,0.6);
}
.portfolio #case_1 a {
	color: rgba(93,93,93,1);
}
.portfolio #case_1 a:hover {
	color: rgba(93,93,93,0.6);
}
.portfolio #case_2 a {
	color: rgba(243,109,8,1);
}
.portfolio #case_2 a:hover {
	color: rgba(243,109,8,0.6);
}
.portfolio #case_3 a {
	color: rgba(51,46,84,1);
}
.portfolio #case_3 a:hover {
	color: rgba(51,46,84,0.6);
}
/*
.case {
	transition: transform 0.5s ease-in-out;
}
.case:hover {
	transform: scale(1.04,1.04);
}

#case_3 {
	transition: transform 0.5s ease-in-out;
}
#case_3:hover {
	transform: scale(1.02,1.02);
}
*/




.case_description h4 { /*hack that allows a line in the vertical middle of the text, not used rn*/
	font-size: 0.9rem;
	line-height: 0.05rem;
	border-bottom: 1px dotted gray;
	color: #202020;
}
.case_description div {
	padding: 0.2rem 0 0.8rem 0;
}
.case_description div p:nth-child(1) {
	font-size: 1.2rem;
	font-weight: 700;
}
.case_description h4 span { /*basically the label*/
	background-color: #fff;
	padding: 0 0.5rem 0 0;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-decoration: underline;
}
.case_description p { /*basically the value*/
	font-size: 1.8rem;
	margin-bottom: 0;
	line-height: 2.4rem;
	font-weight: 400;
}


/*for border radius of overall page*/
.first_section {
	border-radius: 10px 10px 0 0;

	margin-top: 12vh;
}
.first_section>img {
	border-radius: 10px 10px 0 0;
}
.last_section {
	border-radius: 0 0 0px 0px;
}


/*Preloader CSS*/
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 60px;
  height: 60px;
  margin: 1px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #24ae7c transparent transparent transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* general styling */
body
{
	background-color: #fff;
	font-family: 'Avenir',sans-serif,Arial;
	font-weight: normal;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: -0.02em;
	/*animation: background-switch 10s infinite;*/
}
/*@keyframes background-switch {
	10% {
		background-color: #262626;
	}
	20% {
		background-color: #48c6ef;
	}
	30% {
		background-color: #f43b47;
	}
	40% {
		background-color: #ff0844;
	}
	50% {
		background-color: #04befe;
	}
	60% {
		background-color: #262626;
	}
}*/
.bg_row {
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);

}
/*#services, #portfolio, #contact {
	margin-bottom: 20vh;
}*/
footer {
	/*margin-top: 18vh;*/
}



img {
	max-width: 100%;
}
figcaption {
	font-size: 1.2rem;
	font-style: italic;
	padding-top: 0rem;
	padding-bottom: 2rem;
}
#wrapper
{
	margin: 0 auto;
    /*overflow: hidden;*/
    background: none;
    position: relative;
    width: 100%;
}
.container
{
    position: relative;
    width: 100%;
}

.row
{
	margin-left: 0;
	margin-right: 0;
}

ul, ol
{
	padding: 0;
}
h1
{
	font: 300 38px/1.32em 'Avenir',sans-serif,Arial;
	letter-spacing: -0.02em;
}
h2
{
	font: 300 30px/1.33em 'Avenir',sans-serif,Arial;
	letter-spacing: -0.02em;
}
h3
{
	font: bold 22px/1.59em 'Avenir',sans-serif,Arial;
	letter-spacing: -0.02em;
}
h4
{
	font: 300 18px/1.67em 'Avenir',sans-serif,Arial;
	letter-spacing: -0.02em;
}
h5
{
	font: 24px/1.67em 'Avenir',sans-serif,Arial;
	letter-spacing: -0.02em;
}
a:visited, 
a:active
{
    text-decoration: none;
    border: none;
    outline: none;
}
a:hover 
{
    text-decoration: none;
    border: none;
    outline: none;
}
.doc-loader 
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
	/*background-color: #262626;	*/
}
.doc-loader td 
{   
    text-align: center;
    vertical-align: middle;
}
.btn-md
{
    text-shadow: none;
}
/* columns and margins */ 
.m_top_30
{
	margin-top: 30px;
}
.m_top_50
{
	margin-top: 50px;
}
.m_bottom_30
{
	margin-bottom: 30px;
}
.m_bottom_65
{
	margin-bottom: 65px;
}
/* menu */
#andrew_nav {
	margin-top: 0rem;
	z-index: 999;
	position: sticky;
	top: 0rem;
}
#andrew_nav .navbar-header {
	color: gray;
}
#andrew_nav .nav li a {
	color: white;
	font-size: 1.1rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.2rem;;
}
#andrew_nav .nav li a:hover, #andrew_nav li.active a {
	color: #FFB906;
	background: none;
	transition: color 0.2s ease;
}
/*#andrew_nav .nav {
	background-color: rgba(0,0,0,1);
	border-radius: 40px;
	padding: 0 2rem;
}*/

#andrew_nav {
	background-color: rgba(0,0,0,1);
}

ul.nav
{
	padding-top: 3px;
}
#nav_wrapper
{
	margin-top: 4vh;
}
#md_nav
{
	background-color: #262626;
	margin-bottom: 0;
}
#md_nav .navbar-header
{
	padding-top: 0;
}
#md_nav .container
{
	background-color: #262626;
}
#md_nav .container
{
	padding-top: 91px;
	padding-bottom: 11px;
}
#md_nav .navbar-header
{
	padding-top: 5px;
}
#md_nav.navbar.navbar-default
{
	border: none;
}
#md_nav .menu_wrapper, #md_nav_inverse .menu_wrapper
{
	font-size: 16px;
	line-height: 18px;
}
ul.toggle_menu
{
	list-style: none;
}
ul.menu_ul a
{
	text-decoration: none;
	list-style: none;
	display: block;
	padding: 16px 20px;
	padding: 1rem 1.25rem;
	position: relative;
}
.toggle
{
	padding: 14px 0 14px 15px;
	cursor: pointer;
}
.toggle_menu_bar
{
	display: block;
	width: 20px;
	height: 4px;
	background-color: #1e1e1e;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto 3px;
}
.toggle_menu_bar
{
	background-color: #66666b;
}
.navbar-default .navbar-nav>li>a:focus{color:#777777;border: none;outline: none;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .nav>li>a:hover{color:#f333333;border: none;outline: none;}
.navbar-default .navbar-nav>.active>a{color:#333333;}
.navbar-default .navbar-brand:focus, .navbar-nav>.active>a:focus{border: none;outline: none;}
#md_nav_inverse
{
	background-color: #262626;
	border: none;
}
#md_nav_inverse .row
{
	background-color: #000;
	padding-top: 11px;
	padding-bottom: 11px;
}
#md_nav_inverse .navbar-header
{
	padding-top: 5px;
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus{background-color: transparent;}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-brand:focus{color:#999999;border: none;outline: none;}
.logo
{
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-top: 7px;
	background-image: url(../images/My-Face-Sticker.png);
	background-repeat: no-repeat;
	background-size: 28px, 36px;
}
.logo:hover {
	background-image: url(../images/My-Face-Sticker.png);
	transform: rotate(14deg);
	transform-origin: center center;
}

/* mobile menu */
#mobile-menu
{
    display: none;
}
#mobile-menu .navbar-header
{
	padding-top: 5px;
}
.navbar-inverse .navbar-toggle .icon-bar{background-color:#66666b;}
/* home */
.home
{
	color: #fff;
	text-align: center;
}

@keyframes appear {
	0% {
		transform: translateY(4vh);
	}
	100% {
		transform: translateY(0);
	}
}
.namesig {
	width: 30%;
	margin-top: 10%;
}
.home_bg_img
{
	width: 100%;
	height: auto;
	/*background: transparent url(../images/circles.png) scroll 0 0 no-repeat;*/
	/*background-image: url(../images/wood_3_transparency.png);	/*background-image: linear-gradient(330deg, #353535, #1f1f1f);**/
	/*background-color: #3498DB; /*default is #2E2E2E*/
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover; /* Safari and Chrome */
	-moz-background-size: cover; /* Firefox */
	-o-background-size: cover; /* Internet Explorer */
	background-size: cover; /* CSS3 */
	-moz-border-radius: 10px 10px 0 0; /* Firefox */
	-webkit-border-radius: 10px 10px 0 0; /* Safari, Chrome */ 
	border-radius: 10px 10px 0 0; /* CSS3 */
	border: none;
	outline: none; 
}
#home h1
{
	/*font-size: 40px;*/

	/*font-family: 'Helvetica';*/
	font-weight: 600;
	/*text-transform: uppercase;*/
	font-size: 3.4rem;
	line-height: 3.2rem;
	animation: appear 0.8s;

	margin-left: -.3rem;
}
#home p {

	font-size: 1.8rem;
	line-height: 4rem;
	margin-top: 2vh;
}
#home .type-block {
	padding: 18vh 0 9vh 0;

	text-align: left;

	color: #000;

}
#home h2 {
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	font-size: 1rem;
	animation: appear 0.8s;
	font-weight: 600;
	
}
/* home social */
.social_home
{
	padding-top: 3vh;
	padding-bottom: 10vh;
	text-align: center;
	font-size: 3.4rem;
	animation: appear-late 0.8s 0.8s forwards;
}
@keyframes appear-late {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-2vh);
	}
}
.social_home ul
{
	width: 100%;
	margin: 0 auto;
	list-style: none;
	line-height: normal;
	text-align: center;
}
.social_home ul li
{
	display: inline-block;
	padding: 18px;
}
.social_home li.first
{
	padding-left: 0px;
}
.social_home li.last
{
	padding-right: 0;
}
.social_home ul li a
{	
	display: block;
	padding: 10px;
	color: rgba(0,0,0,0.7);
	transition: 0.6s;
}
.social_home ul li a:focus
{
    background-position: left bottom;
    transform: translateY(4px);
}
.social_home ul li a:hover 
{
	 background-position: left bottom;
	 transform: translateY(-4px);
}
a.soc_small_twitter {background: transparent url('../images/social_small_twitter.png') no-repeat;}
a.soc_small_dribbble {background: transparent url('../images/social_small_dribbble.png') no-repeat;}
a.soc_small_insta {background: transparent url('../images/social_small_insta.png') no-repeat;}


#point-down {
	margin-bottom: 6vh;
}
#point-down a {
	color: white;
}
.point-down-desc {
	/*animation: bounce 2s ease-in-out infinite;
	animation-delay: 2.09s;*/
	
	animation: remind 20s ease infinite;
	animation-delay: 2.09s;

}
#point-down .emoji {
	font-size: 4rem;
	margin-top: 1.5rem;

	animation: bounce 2s ease-in-out infinite;
	animation-delay: 2s;
}

@keyframes bounce {
	0%, 100% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(0px, 10px);
	}
}
@keyframes remind {
	0%, 100% {
		transform: translate(0px, 0px);
	}
	49%, 51%, 53% {
		transform: translate(0px, 0px);
	}
	50%, 52% {
		transform: translate(0px, -3px);
	}
}

/* services */
#services-wrapper {
	
}
#about .container .row.bg_row
{
	background-color: #fff;
	color: #66666b;
	margin-left: -10px;
	margin-right: -10px;
}
#about h1
{
	margin-top: 100px;
	margin-bottom: 110px;
}
#about p {
	font-size: 2.5rem;
	line-height: 5rem;
	margin-bottom: 3.3rem;
}
a /*default has no rule*/
{
	font-weight: 700;
}

#about ul
{
	list-style: none;
}
#about .services_social
{
    margin-left: 0px;
    margin-top: 60px;
	margin-bottom: 125px;
}
#about .services_social li.first
{
	float: left;
	padding-left: 0;
}
#about .services_social li.last
{
	float: right;
	padding-right: 0;
}

#about .services_social li
{
    display: inline-block;
	width: 21.6666667%;
	padding: 0 5px 0 5px;
}
#about .services_social li.services_separator
{
	position: relative;
	top: -105px;
	width: 10%;
}
#about .services_social li img
{
	margin-bottom: 40px;
}
#about .services_social li p
{
	font-weight: bold;
	color: #35343b;
}
/* latest work */
#latest_work h1
{
	margin-top: 100px;
	margin-bottom: 110px;
}
#latest_work .container.latest_work .row.bg_row
{
	background-color: #715387;
	color: #fff;
}
#latest_work .browser_img_frame
{
	height: 564px;
	margin-top: 5px;
	padding-left: 0;
	background: transparent url(../images/browser_frame.png) scroll 0 0 no-repeat;
}
#latest_work h3
{
	margin-top: 0;
}
	/* latest work slider */
#latest_work .caroufredsel_wrapper
{
    margin: 0 !important;
}
#latest_work .latest_work_slide
{
	padding-top: 102px;
	margin-right: 20px;
}
#latest_work ul
{
    text-align: center !important;
}
#latest_work ul li
{
    list-style: none;
}
#latest_work .pager_wrapper
{
	float: right;
	margin-top: 30px;
}
#latest_work .pager
{
    width: 105px;
}
.pager a
{
    background-image: url("../images/white_inactive_circle.png");
    background-repeat: repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 25px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: -9999px;
    width: 25px;
    outline: none;
}
.pager a.selected
{
    background-image: url("../images/white_active_circle.png");
}
#latest_work .button_lwork
{
	margin-bottom: 320px;
}
.btn-lwork-go_to
{
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #614874;
    background-image: -moz-linear-gradient(top, #614874, #614874);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#614874), to(#614874));
    background-image: -webkit-linear-gradient(top, #614874, #614874);
    background-image: -o-linear-gradient(top, #614874, #614874);
    background-image: linear-gradient(to bottom, #614874, #614874);
    background-repeat: repeat-x;
    border: none;
	font-weight: bold;
	font-size: 22px;
	line-height: 60px;
    padding-left: 63px;
    padding-right: 64px;
    margin-top: 40px;
    box-shadow: none;
}
#portfolio .btn-lwork-go_to
{

}

.btn-lwork-go_to:hover,
.btn-lwork-go_to:active,
.btn-lwork-go_to.active,
.btn-lwork-go_to.disabled,
.btn-lwork-go_to[disabled]
{    
    background-color: #B2B2B2;
    background-image: none;
}
/* about */
#about h1
{
	margin-top: 100px;
	margin-bottom: 65px;
}
#about h3
{
	margin-bottom: 0;
}
#about .container.about .row.bg_row
{
	background-color: #eac03d;
	background-image: url("../images/about_bg_img.png");
	background-position: right bottom;
	background-repeat: no-repeat;
	color: #74622b;

}
#about .personal_details p
{
	font-weight: 300;
	line-height: 35px;
}
/* testimonials */
#testimonials .container.testimonials .row.bg_row
{
	background-color: #2bbb83;
	color: #fff;
}
#testimonials h1
{
	margin-top: 100px;
	margin-bottom: 85px;
}
.testimonials_background
{
	width: 100%;
	height: auto;
	background-image: url("../images/testimonials_bg_img.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: scroll;
}
	/* testimonials caroufredsel */
#testimonials
{
}
#testimonials .caroufredsel_wrapper
{
	margin-top: 85px !important;
}
#testimonials ul li
{
	padding-left: 60px;
	padding-right: 60px;
    list-style: none;
}
#testimonials ul li h2
{
	text-align: center !important;
	margin-top: 0;
	margin-bottom: 30px;
}

#testimonials ul li span
{
	margin-left: 30px;
	font-weight: 300;
	line-height: 70px;
}
#testimonials .pager
{
	margin-top: 70px;
	margin-bottom: 200px;
	margin-left: 60px;
    width: 105px;
}
/* portfolio */
#portfolio .container.portfolio .row.bg_row
{
	background-color: #fff;
	/*padding-bottom: 150px;*/
	margin-left: -10px;
	margin-right: -10px;
}
#portfolio h1
{
	
}
/* portfolio galery
================================================== */
ul#filterOptions 
{
	margin-bottom: 35px;
	font-weight: 700; /*default has no font-weight*/
	text-transform: uppercase; /*default has no text-transform*/
	letter-spacing: 0.1rem;
}
ul#filterOptions li 
{
	display: inline-block;
	margin-top: 20px;  
}
ul#filterOptions li a 
{
	padding: 0 20px;
	display: block;
	margin-right: 60px;
	line-height: 50px;
	font-size: 1rem; /*default is 22px*/
	color: #66666b;
	text-decoration: none;
}
ul#filterOptions li.last a 
{
	margin-right: 0px;
}
ul#filterOptions li a:hover 
{  
}
ul#filterOptions li.current a 
{
	padding: 0 20px;
	background-color: #9e9ea4; /*default is #9e9ea4*/
	line-height: 50px;
	color: #202020;
	vertical-align: middle;
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */ 
	border-radius: 10px; /* CSS3 */
	border: none;
	outline: none;
}
	/***isotope******/
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
	/**************/
.portfolio .gallery_wrapper
{
	margin-left: -20px;
	width: 800px;
}
.gallery_portfolio .item {
	margin: 9px 0;
}
ul.gallery_portfolio
{
	height: auto;
}
ul.gallery_portfolio li.col-md-5 

{
	padding-left: 0;
	padding-right: 0;
}
ul.gallery_portfolio li.item 
{
	float: left;
	height: auto;
	width: 380px;
	margin-left: 20px;
	margin-bottom: 10px;
	overflow: hidden; 
}
ul.gallery_portfolio li.item p
{
	position: relative;
	text-align: center;
	width: 100%;
	height: auto;
	display: block;
	line-height: 30px;
	color: #66666b; /*default is #66666b*/

	font-size: 1.1rem; /*no default font-size*/
	text-transform: uppercase;
}
ul.gallery_portfolio li.item a:hover p {
	color: #202020;
}
ul.gallery_portfolio li.item a:hover img {

}
ul.gallery_portfolio li.item img
{
	width: 100%;
	height: auto;
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */ 
	border-radius: 10px; /* CSS3 */
	border: none;
	outline: none;
}
	/* portfolio thumbnail hover
================================================== */
.ovelay_holder
{
	position: relative;
}
.item-overlay 
{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font-size: 11px;
	background-color: #e15666;
    z-index: 120;
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */ 
	border-radius: 10px; /* CSS3 */
	border: none;
	outline: none;
}
.item-overlay .preview 
{
	position: absolute;
	width: 25px;
	height: 25px;
	bottom: 6%;
	right: 7%;
	background: url(../images/view_button.png) center center no-repeat;
    z-index: 110;
}
.item-overlay .preview_video 
{
	position: absolute;
	width: 25px;
	height: 25px;
	bottom: 7%;
	right: 4%;
	background: url(../images/play_button.png) center center no-repeat;
	text-indent: -9999px;
    z-index: 110;
}
.item-overlay-text
{
	margin-top: 35%;
	text-align: center;
}
.item-overlay-text
{
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0em;
	color: #fff;
	cursor: pointer;
	
}
/* blog */
#blog h1
{
	margin-top: 100px;
	margin-bottom: 460px;
}
#blog .container.blog .row.bg_row
{
	background-color: #e15666;
	background-image: url("../images/blog_bg_img.png");
	background-position: center top 60px;
	background-repeat: no-repeat;
	color: #262626;
}
p.blog_info
{
	font-weight: 300;
	font-size: 36px;
	line-height: 50px;
	color: #75323a;
}
p.blog_personal_details
{
	color: #772e36;
}
#blog .caroufredsel_wrapper
{
}
ul.blog_slide li h4.first_blog_slide
{
	margin-top: 0;
}
ul.blog_slide h4
{
	margin-bottom: 0;
	color: #75323a;
}
ul.blog_slide p
{
	padding-bottom: 25px;
	border-bottom: 1px solid #c84e5c;
	letter-spacing: -0.02em;
	font-weight: bold;
}
#blog a
{
	color: #202020;
}
#blog a:hover
{
	color: #75323a;
}
#blog a#blog-prev
{
	display: inline-block;
	margin-left: 0px !important;
	font-size: 16px;
}
#blog a#blog-next
{
	float: right;
	display: inline-block;
	font-size: 16px;
}
#blog div.slide_prev_next
{
	margin-top: 25px;
	margin-bottom: 180px;
}
/* contact */
#contact {
	margin-top: 16rem;
}
#contact h1
{
	margin-top: 100px;
	margin-bottom: 65px;
}
.contact_wrapper p { /*custom rule*/
	/*padding-right: 2rem;*/
	/*font-size: 1.6rem;*/
	/*line-height: 2.4rem;*/
}
.contact_wrapper .row.bg_row
{
	/*background-image: linear-gradient(330deg, #667eea, #764ba2); /*default is #a59f94; #BFD3CC duller but gentle; #24E594 bright a tiny bib obnoxious; #A2FCD6 very bright would need black text*/
	color: #ebebeb;
	background-color: #94CC39; 
	/*background-image: linear-gradient(330deg, #36B40A, #5AC718);*/
}
.contact_wrapper span
{
	font-weight: bold;
	font-size: 1.6rem; /*not here by default*/
}
.contact_wrapper span.contact-info
{
	font-weight: normal;
}
#contact .contact-form{
    /*margin-top: 100px;    */
}
#contact input[class=input-extra-large]
{
    margin-left:8.333333333333332%;
    width: 83.33333333333334%;
    margin-bottom: 20px;
    line-height: 30px;
    padding: 23px 22px;
	background-color: rgba(255,255,255,0.4); 
	color: white;
	border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;  
    transition: 0.35s; 
}
#contact input[class=input-extra-large]:focus {
	background-color: rgba(255,255,255,0.95);
	color: #97CF3C;
	outline-width: 0;
}
.input-extra-large {

}
#contact textarea{
	margin-left:8.333333333333332%;
    width: 83.33333333333334%;
    height: 180px;
    line-height: 30px;
    padding: 21px 20px;
	background-color: rgba(255,255,255,0.4); 
	color: white;
	border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: 0.35s;
}
#contact textarea:focus {
	background-color: rgba(255,255,255,0.95);
	color: #97CF3C;
	outline-width: 0;
}
#contact .btn-subscribe
{
	margin-left:8.333333333333332%;
	width: 83.33333333333334%;
	height: 80px;
    color: #FFFFFF;	
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #A8E14B; /*default is #928c83*/
    /*background-image: -moz-linear-gradient(top, #928c83, #928c83);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#928c83), to(#928c83));
    background-image: -webkit-linear-gradient(top, #928c83, #928c83);
    background-image: -o-linear-gradient(top, #928c83, #928c83);
    background-image: linear-gradient(to bottom, #928c83, #928c83);
    background-repeat: repeat-x;*/
    border: none;
    font-size: 22px;
    line-height: 50px;
    padding-top: 12px;
    font-weight: bold;
    margin-bottom: 175px;
    margin-top: 20px;
    transition: 0.35s;
}
#contact .btn-subscribe:hover,
#contact .btn-subscribe:active,
#contact .btn-subscribe.active,
#contact .btn-subscribe.disabled,
#contact .btn-subscribe[disabled] {
    background-color: #B8EA78; /*default is #bcb6aa*/
    background-image: none;
	border: none;
	transform: translateY(-4px);
}
/* map */
.map
{
	width: 100%;
	height: 371px;
	margin-bottom: 100px;
    background-image: url("../images/map_and_pin.png");
    background-repeat: no-repeat;
}
/* footer */
.container.footer_wrapper .row.bg_row
{
	background-color: #fff; 
	color: #232323;
}
.container.footer_wrapper .social
{
    margin-top: 45px;
    margin-bottom: 40px;
}
.container.footer_wrapper .social ul
{
	width: 100%;
	height: auto;
	list-style: none;
	line-height: normal;
}
.container.footer_wrapper .social ul li
{
    display: inline-block;
    height: 54px;
    overflow: hidden;
    vertical-align: middle;
}
.container.footer_wrapper .social li.first
{
	padding-left: 20px;
}
.container.footer_wrapper .social li.last
{
	padding-right: 0;
}
.container.footer_wrapper .social li.separator img
{
    margin: 25px 35px;
}
.container.footer_wrapper .social ul li a{
	display: block;
    height: 54px;
	width: 59px;
}
.container.footer_wrapper .social ul li a:active
{
    background-position: left bottom;
}
.container.footer_wrapper .social ul li a:hover 
{
	 background-position: left bottom;
}
a.soc_large_twitter {background: transparent url('../images/social_icons_large_twitter.png') no-repeat;}
a.soc_large_pinterest {background: transparent url('../images/social_icons_large_pinterest.png') no-repeat;}
a.soc_large_facebook {background: transparent url('../images/social_icons_large_facebook.png') no-repeat;}

.copyright
{
	font-size: 2rem; /*default is 15px*/
	font-weight: 300;
	color: rgba(0,0,0,0.7);
}
.signoff {
	color: rgba(0,0,0,0.7);
	font-size: 1rem;
}
.signoff2 {
	margin-bottom: 68px;
	color: rgba(0,0,0,0.7);
	font-size: 1rem;
}
.social_row a {
	color: rgba(0,0,0,0.7);
	padding: 30px 30px;
}

.social_row {
	margin-bottom: 55px;
}
/* single post */
	/* single slider */
#single_post_slider .caroufredsel_wrapper
{
    margin: 0 !important;
}
#single_post_slider .single_post_slider
{
}
#single_post_slider .single_slider
{
	margin-left: 0;
	position: relative;
	overflow-x: hidden;
	width: auto;
}
#single_post_slider ul
{
    text-align: center !important;
}
#single_post_slider ul li
{
    list-style: none;
}
#single_post_slider ul li img
{
	width: 100% !important;
	height: auto;
    -moz-border-radius: 10px 10px 0 0; /* Firefox */
	-webkit-border-radius: 10px 10px 0 0; /* Safari, Chrome */ 
	border-radius: 10px 10px 0 0; /* CSS3 */
	border: none;
	outline: none;
}
#single_post_slider .pager_wrapper
{
	position: absolute;
	top: 88%;
	right: 20px;
}
#single_post_slider .pager
{
    width: 105px;
	margin: 0;
}
#single_post .container.single_post .row.bg_row
{
	background-color: #fff;
	color: #66666b;
}
#single_post h1
{
	margin-top: 110px;
	margin-bottom: 5px; 
	font-weight: normal;
}
#single_post p.single_info_date
{
	margin-bottom: 55px; 
	color: #b7b7b7;
}
#single_post h5
{
	margin-bottom: 60px; 
}
.sb_italic_font
{
	margin-top: 60px;
	margin-bottom: 70px;
	font-style: italic;
	font-weight: 600;
	padding-top: 0;
	padding-bottom: 0;
}
#single_post .page-header
{
	border-bottom: 3px solid #f2f2f2;
	margin-top: 60px;
	margin-bottom: 90px;
	padding-bottom: 0;
}
#single_post li.media
{
	margin-top: 40px;
}
#single_post .media-object
{
	margin-top: 5px;
}
#single_post li .comment_line
{
	padding-bottom: 35px;
	border-bottom: 1px solid #f1f1f1;
}
#single_post h2
{
	margin-top: 0;
	margin-bottom: 10px; 
	line-height: 50px;
}
#single_post .media-body
{
}
#single_post .post_info
{
	margin-bottom: 30px;
}
#single_post .media-body p
{
	font-size: 17px;
	line-height: 27px;
}
#single_post .post_info a
{
	font-size: 18px;
	letter-spacing: 0;
	color: #e15666;
}
#single_post .media-list
{
	font-size: 14px;
	letter-spacing: 0;
	padding-left: 15px;
}
#single_post .btn_read_post
{
    color: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #C1C1C1;
    background-image: -moz-linear-gradient(top, #cfcfcf, #cfcfcf);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cfcfcf), to(#cfcfcf));
    background-image: -webkit-linear-gradient(top, #cfcfcf, #cfcfcf);
    background-image: -o-linear-gradient(top, #cfcfcf, #cfcfcf);
    background-image: linear-gradient(to bottom, #cfcfcf, #cfcfcf);
    background-repeat: repeat-x;
    border: none;
    font-size: 16px;
    line-height: 40px;
	letter-spacing: 0;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    margin-bottom: 10px;   
    box-shadow: none;
}
#single_post .btn_read_post:hover,
#single_post .btn_read_post:active,
#single_post .btn_read_post.active,
#single_post .btn_read_post.disabled,
#single_post .btn_read_post[disabled] {    
    background-color: #66666b;
    background-image: none;
}
#single_post .input_first
{
	padding-left: 0;
}
#single_post .input_last
{
	padding-right: 0;
}
#single_post input[class=input-extra-large]
{
    width: 100%;
    margin-bottom: 20px;
    line-height: 30px;
    padding: 23px 22px;
	background-color: #ebebeb;
	color: #66666b;
	border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;   
}
#single_post textarea
{
    width: 100%;
    height: 250px;
    line-height: 30px;
    padding: 21px 20px;
	background-color: #ebebeb;
	color: #66666b;
	border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#single_post .btn_send_float
{
	float: right;
	margin-top: 30px;
	margin-bottom: 250px;
}
#single_post .btn_send_post
{
    color: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #C1C1C1;
    background-image: -moz-linear-gradient(top, #cfcfcf, #cfcfcf);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cfcfcf), to(#cfcfcf));
    background-image: -webkit-linear-gradient(top, #cfcfcf, #cfcfcf);
    background-image: -o-linear-gradient(top, #cfcfcf, #cfcfcf);
    background-image: linear-gradient(to bottom, #cfcfcf, #cfcfcf);
    background-repeat: repeat-x;
    border: none;
    font-size: 18px;
    line-height: 55px;
	letter-spacing: -0.02em;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 400;
    margin-bottom: 10px;   
    box-shadow: none;
}
#single_post .btn_send_post:hover,
#single_post .btn_send_post:active,
#single_post .btn_send_post.active,
#single_post .btn_send_post.disabled,
#single_post .btn_send_post[disabled] {    
    background-color: #66666b;
    background-image: none;
}
/* @media */
@media only screen and (max-width: 991px) 
{
	#md_nav .toggle_menu, #md_nav_inverse .toggle_menu
	{
		font-size: 14px;
	}
	.toggle_menu_wrapper
	{
		margin-right: 1%;
	}
	#home h1
	{
		font-size: 5rem;
		line-height: 5rem;

	}

	#latest_work .latest_work_slide
	{
		margin-right: -10px !important;
	}
	#latest_work .browser_img_frame
	{
		margin-bottom: 100px;
		background: transparent url(../images/full_frame.png) scroll center top no-repeat;
	}
	#latest_work .pager_wrapper
	{
		float: none;
	}
	#latest_work .pager
	{
		margin: 30px auto 0 auto;
	}
	#latest_work .button_lwork
	{
		text-align: center;
		margin-bottom: 220px;
	}
	.testimonials_background
	{
		width: 96%;
		margin-left: 2%;
		-webkit-background-size: contain; /* Safari and Chrome */
		-moz-background-size: contain; /* Firefox */
		-o-background-size: contain; /* Internet Explorer */
		background-size: contain; /* CSS3 */
	}
	#testimonials .caroufredsel_wrapper
	{
		margin-top: 40px !important;
	}
	#testimonials ul li h2
	{
		margin-bottom: 25px;
	}
	.portfolio .gallery_wrapper
	{
		margin-left: -20px;
		width: 720px;
	}
	ul.gallery_portfolio li.item 
	{
		width: 39%;
	}
	#single_post .input_first
	{
		padding-right: 0;
	}
	#single_post .input_last
	{
		padding-left: 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) 
{
	#about .services_social li img
	{
		width: 100%;
		height: auto;
	}
	#about .personal_details
	{
		padding-left: 10%;
	}
}

@media only screen and (max-width: 767px) 
{
	/*custom rules*/
	#andrew_nav {
		display: none;
	}
	#home h1
	{
		font-size: 4rem;
		line-height: 5rem;

	}
	h1 {
		font-size: 2.4rem;
	}
	h3 {
		font-size: 1.8rem;
	}
	p {
		font-size: 1.4rem;
	}
	ol li {
		font-size: 1.4rem;
		margin-bottom: 0.7rem;
		line-height: 2.8rem;
	}
	blockquote {
		font-size: 1.6rem;
	}
	/*end custom rules*/

	#md_nav_inverse .container.menu_wrapper
	{
		padding-top: 0;
		padding-bottom: 0;
	}
	#mobile-menu.navbar.navbar-inverse.navbar-fixed-top
	{
		border: none;
	}
	.navbar-collapse{border-top:0px;box-shadow:inset 0 0px 0 rgba(255, 255, 255, 0.1);}
	.navbar-inverse .navbar-nav>.active>a{
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */ 
	border-radius: 5px; /* CSS3 */
	border: none;
	outline: none;
	}
	#mobile-menu
	{
		background-color: #262626;
	}
	#mobile-menu .row
	{
		background-color: #403d39;
	}
	#mobile-menu .navbar-toggle
	{
		border: none;
	}
	.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus{background-color: transparent;}
	#home div.home
	{
		margin-top: 50px !important;
	}
	#services .services_social li.first, #services .services_social li.last
	{
		float: none;
	}
	#services .services_social li.services_separator
	{
		display: none;
	}
	#services .services_social li
	{
		display: inline;             
	}
	#services .services_social li img
	{
		margin-bottom: 10px;
	}
	#services .services_social li p
	{
		margin-bottom: 50px;
	}
	#about .personal_details
	{
		text-align: center;
	}
	#latest_work .browser_img_frame
	{
		background-image: none;
	}
	#latest_work h1
	{
		margin-bottom: 20px;
	}
	#portfolio .container.portfolio .row.bg_row
	{
		padding-bottom: 100px;
	}
	ul.gallery_portfolio li.item p
	{ 
		font-size: 0.9rem;
	}
	#single_post_slider .caroufredsel_wrapper
	{
		margin-top: 50px !important;
	}
	#single_post .btn_send_float
	{
		margin-bottom: 180px;
	}
	.media,.media-body{overflow: inherit;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) 
{
	#md_nav, #md_nav_inverse
	{
        display: none;
    }
    #mobile-menu
	{
        display: block;        
        margin-top: -2px;
    }
	.testimonials_background
	{
		background-image: none;
	}
	.container.footer_wrapper .social li.separator img
	{
		margin: 25px 10px;
	}
	ul#filterOptions 
	{
		/*text-align: center;*/
	}
	.portfolio .gallery_wrapper
	{
		margin-left: 0;
		width: 100%;
	}
	ul.gallery_portfolio li.item 
	{
		margin-left: 2%;
		width: 46.85714%;
	}
	#blog h1
	{
		margin-bottom: 350px;
	}
}

@media only screen and (max-width: 479px) 
{
	#md_nav, #md_nav_inverse
	{
        display: none;
    }
	#mobile-menu
	{
        display: block;        
        margin-top: -2px;
    }
	#home h1
	{
		/*font-size: 35px;*/
	}
	.social_home ul li
	{
		margin-right: 0;
	}
	.social_home ul li a
	{
		padding: 0 30px;
	}
	#latest_work .latest_work_slide
	{
		margin-right: -20px !important;
	}
	#latest_work ul li img
	{
		width: 100%;
		height: auto;
		padding-right: 10px;
	}
	#latest_work .browser_img_frame
	{
		margin-bottom: 0 !important;
	}
	#latest_work .button_lwork
	{
		margin-bottom: 150px;
	}
	.testimonials_background
	{
		background-image: none;
	}#testimonials ul li
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	#testimonials ul li p
	{
		font-size: 25px;
	}
	#testimonials ul li span
	{
		margin-left: 5px;
		font-size: 12px;
	}
	#testimonials .pager
	{
		margin-bottom: 150px;
	}
	ul#filterOptions 
	{
		/*text-align: center;*/
	}
	.portfolio .gallery_wrapper
	{
		width: 100%;
		margin-left: 0;
	}
	ul.gallery_portfolio li.item 
	{
		width: 100%;
		margin-left: 0;
	}
	#blog h1
	{
		margin-bottom: 260px;
	}
	#contact .btn-subscribe
	{
		margin-bottom: 100px;
	}
	.container.footer_wrapper .social li.separator img
	{
		display: none;
	}
	#single_post_slider .pager_wrapper
	{
		top: 85%;
	}
}

